@import "./variables.scss";

.footer {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: $primary-color;
	font: 2rem $font-stack;
	font-weight: 700;
	color: $secondary-color;

	@media #{$phone-query} {
		font: 8rem $font-stack;
	}
}

.footer-brand-img {
	height: 2rem;

	@media #{$phone-query} {
		height: 8rem;
	}
}

.footer-social a {
	text-decoration: none;
}

.footer-social i {
	margin: 0 0.5rem 0 0.5rem;
	font-size: 1.8rem;
	color: $secondary-color;

	@media #{$phone-query} {
		display: none;
	}
}
