@import "./variables.scss";

.skills {
	display: flex;
	text-align: left;
	padding: 5rem;
	justify-content: center;

	background-color: $terciary-color;
	color: $secondary-color;
}

.skill-list {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"image text"
		"image text";
	gap: 1rem 2rem;
	justify-content: space-around;
	width: 130rem;

	padding: 0.3rem;
	align-self: center;
	font: 2rem $font-stack;
	font-weight: 100;

	@media #{$phone-query} {
		grid-template-columns: 1fr;
		grid-template-areas:
			"text"
			"image";
		gap: 2rem 2rem;
	}
}

.skill-text {
	grid-area: text;

	width: 50rem;
	justify-self: center;

	@media #{$phone-query} {
		width: 80rem;
	}
}

.skill-image {
	grid-area: image;
	justify-self: center;

	background: url(../img/ilus3-min.png) no-repeat center;
	background-size: contain;

	@media #{$phone-query} {
		display: none;
	}

	nav {
		display: flex;
		justify-content: space-between;

		border-style: solid;
		border-width: 0 0 .5rem 0;
		border-color: $primary-color;

		a {
			padding: 10px;
			text-decoration: none;
			color: $secondary-color;
			font-size: 4rem;
			border: none !important;
		}
	}

	.content {
		display: flex;
		width: 100%;
		min-height: 90%;

		box-shadow: 1rem 0 5rem rgba(0, 0, 0, .3);
	}

	.item {
		width: 100%;
		row-gap: 25px;
		display: none;
		flex-direction: column;
		align-items: center;

		p {
			padding: 2rem;
			font-size: 2rem;
			align-self: flex-start;
			line-height: 2.5rem;
		}

		&_active {
			display: flex;
		}

		&_logo {
			font-size: 15rem;
			padding-top: 4rem;
		}

		&_description {
			font: 2.5rem "Open Sans", sans-serif !important;
			line-height: 2.8rem;
			font-weight: 100;
			text-align: justify;
			margin: 1.5rem 0;
		}
	}
	  
	.link {
		transition: all 0.3s;

		width: 7.7rem;

		text-align: center;

		p {
			font-size: 1rem;
			margin: 10px 0 0 0;
		}
	}

	.tab-active {
		color: $secondary-color;
		background-color: $primary-color;
	}
}
