$font-stack: "Open Sans", sans-serif;

$primary-color: #059dde;
$secondary-color: #ffffff;
$terciary-color: #03587c;

$phone-query: "screen and (max-width: 798px)";
$tablet-query: "screen and (max-width: 992px) and (min-width: 799px)";
